input[type="text"] { border-radius: 3px }
table { border-bottom-right-radius: 3px }
table tr:last-child td:last-child { border-bottom-right-radius: 3px }
table tr:last-child { border-bottom-right-radius: 3px }
.button { border-radius: 3px }
.button.secondary { border-radius: 3px }
header .main-nav ul li.settings a { border-radius: 2px }
header .sub-nav .estimate span { border-radius: 10px }
header .sub-nav .view-type li { border-radius: 2px }
header .sub-nav.model-detail ul li a .makeLogo { border-radius: 6px }
header .sub-nav.model-detail ul li a img { border-radius: 6px }
.view .views li:first-child a { border-top-left-radius: 2px; border-bottom-left-radius: 2px }
.view .views li:last-child a { border-top-right-radius: 2px; border-bottom-right-radius: 2px }
#model-detail aside { border-top-left-radius: 3px; border-bottom-left-radius: 3px }
#model-detail .content { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
#model-detail-overview { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
#model-detail-overview aside { border-top-left-radius: 3px; border-bottom-left-radius: 3px }
#model-detail-overview aside .counter { border-radius: 11px }
#model-detail-overview .content { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
.model-detail-overview .box { border-radius: 3px }
.model-detail-overview .column-50-50 ul li { border-radius: 3px }
.model-detail-overview .column-50-50 ul li:hover { border-radius: 3px }
.model-detail-overview .column-66-33 ul li { border-radius: 3px }
.model-detail-overview .counter { border-radius: 11px }
.model-detail-subnav nav ul li { border-radius: 3px }
.model-detail-subnav-extend nav .tmpl li { border-radius: 3px }
.model-detail-subnav-extend nav ul li.dropdown>ul>li { border-radius: 0 }
.model-detail-subnav-extend nav ul li.dropdown>ul>li.componentHeader { border-radius: 0 }
.model-detail-subnav-extend .tmpl.alt .custom-radio-button { border-radius: 50% }
.change-car { border-radius: 3px }
.change-car img { border-radius: 3px }
.change-car span { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
.fuel-type ul li { border-radius: 3px }
.filterTypes ul li { border-radius: 3px }
.model-detail-info .button-holder { border-radius: 3px }
.model-detail-info .button.active { border-radius: 3px }
#maintenance-schedule { border-radius: 3px }
#maintenance-schedule .time-schedule .custom-dropdown-wrapper { border-radius: 3px }
#maintenance-schedule .maintenance-item { border-radius: 3px }
#maintenance-schedule .maintenance-item .top-bar { border-radius: 3px }
#maintenance-schedule .maintenance-item .top-bar .counter { border-radius: 11px }
#maintenance-schedule .maintenance-item ul li:last-child { border-radius: 3px }
#maintenance-schedule .custom-checkbox-wrapper { border-radius: 3px }
#maintenance-schedule .custom-checkbox-wrapper.add-remove { border-radius: 3px }
#maintenance-schedule .maintenance-item.static ul li { border-radius: 0 }
#maintenance-schedule .maintenance-item.static ul:last-child li:last-child { border-radius: 3px }
#maintenance-schedule .maintenance-item.static ul li.follow-up h3:before { border-radius: 3px }
#maintenance-schedule .maintenance-item.additionalWork ul li { border-radius: 0 }
#maintenance-schedule .maintenance-item.additionalWork ul:last-child li:last-child { border-radius: 3px }
#maintenance-schedule .maintenance-item.additionalWork ul li.follow-up h3:before { border-radius: 3px }
#maintenance-schedule ul li.oeCode>div { border-radius: 3px }
#repair-times { border-radius: 3px }
#repair-times .times a.detail span.icon { border-radius: 3px }
#repair-times .filter-search input.search { border-radius: 3px }
#repair-times .custom-dropdown-wrapper { border-radius: 3px }
nav.side-nav ul li:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
#repair-times .wrapper { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px }
#repair-times aside { border-bottom-left-radius: 3px }
#repair-times section.overview { border-bottom-right-radius: 3px }
#repair-times .overview nav>ul.tmpl>li { border-radius: 3px }
#repair-times .overview nav>ul>li.dropdown { border-radius: 3px }
#repair-times .overview nav>ul>li.dropdown>ul>li { border-radius: 0 }
#repair-times .custom-checkbox-wrapper { border-radius: 3px }
#repair-times .repair-times-jobs-list li .btn { border-radius: 3px }
#repair-times .parts-required-list li span .add-remove { border-radius: 3px }
#smartpack .disabled-message { border-radius: 3px }
#smartpack .custom-dropdown-wrapper { border-radius: 3px }
#smartpack nav.tabs li { border-top-left-radius: 3px; border-top-right-radius: 3px }
#smartpack nav.tabs li a .counter { border-radius: 12px }
#smartpack .tab-tmpl { border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px }
#smartpack .tmpl li { border-radius: 3px }
#modelDetailSmartPack li.no-result { border-radius: 9px; border: none !important }
.replacement-intervals { border: none !important }
#smartpack .close-smartpack-search { border-radius: 3px }
#smartpack-detail { border-radius: 3px }
#smartpack-detail .overview>li figure { border-radius: 3px }
#smartpack-detail .overview>li figure img { border-radius: 3px }
#smartpack-detail .note { border-radius: 3px }
#smartpack-detail .related-subjects ul li { border-radius: 3px }
#electronic-systems { border-radius: 3px }
#electronic-systems .fault-code-diagnosis ul li { border-radius: 3px }
#electronic-systems section.overview ul { border-radius: 3px }
#electronic-systems section.overview ul li:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px }
#electronic-systems section.overview ul li:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
#electronics-component-detail { border-radius: 3px }
#electronics-component-detail>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
#electronics-component-detail>.inner { border-radius: 3px }
#electronics-component-detail div.content { border-radius: 3px }
#electronics-component-detail .templates>.tmpl section.content figure { border-radius: 3px }
#electronics-component-detail .templates>.tmpl .full figure { border-radius: 3px }
#engine-management { border-radius: 3px }
#comfort-electronics { border-radius: 3px }
#comfort-electronics .comfort-electronics-overview .drawing { border-radius: 3px }
#comfort-electronics .custom-dropdown-wrapper { border-radius: 3px }
#id-locator { border-radius: 5px }
#id-locator .top { border-top-left-radius: 5px; border-top-right-radius: 5px }
#id-locator nav div a.button-close { border-radius: 3px }
#search .search-normal .button-holder { border-radius: 3px }
#filter-car-criteria .column ul li { border-radius: 3px }
#filter-car-criteria .column .custom-radio-button { border-radius: 50% }
#popup { border-radius: 5px }
#popup .top { border-top-left-radius: 5px; border-top-right-radius: 5px }
#popup nav div a.popup-button-close { border-radius: 3px }
#select-recent-car .column ul li { border-radius: 3px }
.custom-dropdown-wrapper { border-radius: 3px }
#filter-vehicle-criteria .column ul li { border-radius: 3px }
#filter-vehicle-criteria .column .custom-radio-button { border-radius: 50% }
#filter-car-criteria .column ul li { border-radius: 3px }
#select-recent-config .column ul li { border-radius: 3px }
.loading { border-radius: 4px }
section.repair-manuals { border-radius: 3px }
.alt section.repair-manuals { border-radius: 3px }
.alt section.repair-manuals { border-radius: 3px }
.alt .repair-manuals>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
.repair-manuals>.inner .right .repair-parts { border-radius: 3px }
.repair-manuals>.inner .right .repair-parts .top-bar { border-radius: 3px }
.repair-manuals>.inner .right .repair-parts .top-bar .counter { border-radius: 11px }
.repair-manuals>.inner .right .repair-parts ul li:last-child { border-radius: 3px }
.repair-manuals>.inner .right .repair-parts .custom-checkbox-wrapper { border-radius: 3px }
.repair-manuals>.inner .right .repair-parts .custom-checkbox-wrapper.add-remove { border-radius: 3px }
.repair-manuals>.inner>.top .custom-dropdown-wrapper { border-radius: 3px }
.repair-manuals .technical-drawings .drawing { border-radius: 3px }
.lineoutLogin { border-radius: 3px }
.lineoutLogin .left { border-top-left-radius: 3px; border-bottom-left-radius: 3px }
.lineoutLogin .right { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
.lineoutLogin form input[type="text"], .lineoutLogin form input[type="email"], .lineoutLogin form input[type="password"] { border-radius: 3px }
.errorLogin { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px }
.help-text { border-radius: 3px }
#converters { border-radius: 5px }
#converters>.top { border-top-left-radius: 5px; border-top-right-radius: 5px }
#converters nav div a.button-close { border-radius: 3px }
#converters nav div a.button-close { border-radius: 3px }
#converters .right form .top { border-top-left-radius: 3px; border-top-right-radius: 3px }
#converters .right form .result { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
#converters .right form .result { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
.alt #maintenance-schedule { border-radius: 3px }
.alt #maintenance-schedule>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
.alt #maintenance-schedule>.inner { border-radius: 3px }
.alt #maintenance-schedule>.inner { border-radius: 3px }
.alt #maintenance-schedule>.time-schedule { border-radius: 3px }
.alt #maintenance-schedule>.maintenance-overview { border-radius: 3px }
#maintenance-schedule .maintenance-item.static ul li>span.extra-time .holder .time .timeSelectWrap { border-radius: 3px }
#repair-times-overview div.note { border-radius: 3px }
.alt #smartpack-detail { border-radius: 3px }
.alt #smartpack-detail>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
.alt #smartpack-detail>.inner { border-radius: 3px }
#lightbox { border-radius: 3px }
#lightbox a.button-close { border-radius: 3px }
#location-detail { border-radius: 3px }
#location-detail>.inner { border-radius: 3px }
.alt #location-detail>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
.alt #location-detail>.inner { border-radius: 3px }
#location-detail section.content figure { border-radius: 3px }
#electronics-component-detail .custom-dropdown-wrapper { border-radius: 3px }
#electronics-component-detail .custom-dropdown-wrapper { border-radius: 3px }
#electronic-systems .fault-code-diagnosis ul li.dropdown ul li { border-radius: 0 }
.model-detail-overview .column-50-50 ul li.dropdown ul li { border-radius: 0 }
#modelDetailOverview .close-modelDetailOverview-search { border-radius: 3px }
#search-results div.note { border-radius: 3px }
#tos { border-radius: 3px }
#tos>.inner { border-radius: 3px }
.tos #cost-estimate>.inner { border-radius: 3px }
#tos>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
#tos .custom-dropdown-wrapper { border-radius: 3px }
.errorMessage { border-radius: 5px }
.errorMessage p:before { border-radius: 50% }
.componentConfiguration-wrap { border-radius: 3px }
.componentConfiguration-wrap ul.componentConfiguration-items>li { border-radius: 0 }
.model-detail-overview .column-50-50 .componentConfiguration-wrap ul.componentConfiguration-items>li:hover { border-radius: 0 }
#model-detail nav.componentConfiguration ul li { border-radius: 3px }
#model-detail nav.componentConfiguration ul>li.dropdown { border-radius: 3px }
#model-detail nav.componentConfiguration ul li.dropdown>ul>li { border-radius: 0 }
#model-detail nav.componentConfiguration ul.customComponentList li { border-radius: 0 }
#model-detail nav.componentConfiguration ul.selectedComponents>li { border-radius: 3px }
#model-detail nav.componentConfiguration ul li span.nr { border-radius: 4px }
#model-detail nav.componentConfiguration ul li .custom-checkbox-wrapper.add-remove { border-radius: 3px }
#model-detail nav.componentConfiguration ul li .custom-checkbox-wrapper.add-remove { border-radius: 3px }
#model-detail nav.componentConfiguration ul li .custom-radio-button { border-radius: 50% }
.saveComponentConfiguration-wrap { border-radius: 3px }
.componentConfigurationDetails-wrap { border-radius: 3px }
.model-detail-subnav-extend nav ul li.dropdown>ul>li.combinableSystem_period .custom-checkbox { border-radius: 3px }
.model-select ul li a span { border-radius: 15px }
.preferences form input[type="text"], .preferences form input[type="email"], .preferences form input[type="password"] { border-radius: 3px }
.preferences div.note { border-radius: 3px }
.licenseExpireAlert { border-bottom-right-radius: 3px; border-bottom-left-radius: 3px }
.part-memo-list-wrap { border-radius: 3px }
#editPartMemo { border-radius: 5px }
#editPartMemo>.top { border-top-left-radius: 5px; border-top-right-radius: 5px }
#editPartMemo nav div a.editPartMemo-close { border-radius: 3px }
#editPartMemo #searchResultsContainer { border-radius: 2px }
#editPartMemo #resetSearch { border-radius: 10px }
#editPartMemo textarea { border-radius: 3px }
.vesa_canbus table { border-bottom-right-radius: 0 }
.vesa_systemsContainer .vesa_systemHeader { border-radius: 10px }
.vesa_systemsContainer .vesa_systemHeader table tr:last-child { border-bottom-right-radius: 0 }
.vesa_canbus a.vesa_systemTitle { border-radius: 10px }
.vesa_canbus a.vesa_systemTitle.active { border-radius: 10px }
.vesa_canbus a.vesa_systemTitle.disabledButton { border-radius: 10px }
.vesa_signalsContainer a:hover { border-radius: 5px }
#cost-estimate { border-radius: 3px }
#cost-estimate>.heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
#cost-estimate>.inner { border-radius: 3px }
form.cost-estimate { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
form.cost-estimate input[type="tel"] { }
form.cost-estimate textarea { border-radius: 3px }
.cost-estimate-item { border-radius: 3px }
.cost-estimate-item .top-bar { border-radius: 3px }
.cost-estimate-item .top-bar .counter { border-radius: 11px }
.cost-estimate-item ul li:last-child { border-radius: 3px }
.cost-estimate-item.static h2 { border-top-left-radius: 3px; border-top-right-radius: 3px }
.cost-estimate-item.static ul li { border-radius: 0 }
.cost-estimate-item.static ul:last-child li:last-child { border-radius: 3px }
.cost-estimate-item.static ul li>span.enable-disable a.custom-radio-button { border-radius: 10px }
.cost-estimate-item.static ul li>span.enable-disable a.custom-radio-button span { border-radius: 50% }
.cost-estimate-item .btn { border-radius: 3px }
.cost-estimate-item.static ul li.follow-up h3:before { border-radius: 3px }
.grand-total { border-radius: 3px }
.message.green { border-radius: 3px }
.message.red { border-radius: 3px }
.related-files .relatedInput { border-radius: 3px }
.custom-file-input::before { border-radius: 3px }
#cost-estimate .custom-dropdown-wrapper { border-radius: 3px }
#cost-estimate .custom-checkbox-wrapper { border-radius: 3px }
.preferences form { border-radius: 3px }
.preferences form .heading { border-top-left-radius: 3px; border-top-right-radius: 3px }
.preferences form .cost-estimate-item.static.rates fieldset .custom-radio-button { border-radius: 50% }
.dataSendMessage { border-radius: 5px }
.dataSendMessage { border-radius: 5px }
.dataSendMessage p:before { border-radius: 50% }
#searchResultsContainer { border-radius: 2px }
#resetSearch { border-radius: 10px }
nav.tabs { border-top-left-radius: 3px; border-top-right-radius: 3px }
section.blockBorder { border-radius: 3px !important }
input#datepicker { border-radius: 3px }
.custom-dropdown-wrapper { border-radius: 3px }
nav.control a { border-radius: 3px }
aside nav ul li span { border-radius: 15px }
.detailsView input[type="tel"] { }
.detailsView textarea { border-radius: 3px }
ul.menuTop li:first-child { border-top-left-radius: 3px }
ul.menuTop li:last-child, ul.menuTop li.last { border-top-right-radius: 3px }
ul.menuTop li.active { border-top-left-radius: 3px; border-top-right-radius: 3px }
ul.menuTop li img { border-radius: 3px }
.contentDetails { border-radius: 0 3px 3px }
.contentDetails .vehiclePart { border-radius: 3px }
.contentDetails input[type="tel"] { }
fieldset.form textarea { border-radius: 3px }
.reminderBox { border-radius: 3px }
.contentDetails.selectVehicle .fuel-type ul li.active a { border-radius: 3px }
.changesSavedMessage { border-radius: 5px }
.changesSavedMessage p:before { border-radius: 50% }
#resetDate { border-radius: 10px }
.build-types ul li { border-radius: 3px }
.newsContainer ul { border-radius: 3px }